.checkbox-sm {
  @apply w-4
   h-4;
}

.checkbox-lg {
  @apply w-5
       h-5;
}

.toggle-sm {
  background-size: 15px;
  @apply w-[34px]
    h-[18px]
    bg-toggle-sm
    checked:bg-[90%];
}

.toggle-lg {
  @apply w-[44px]
    h-[24px]
    bg-toggle-lg
    checked:bg-[90%];
}